{#
  Nav component
  ---
  CMS _data:
    navigation
  ---
  args:
    currentNavigation
      Optional
      Object shape:
        {
          items: [...]
            Required
            Array
              of shapes: {
                text: "Cookies & Privacy Policy",
                  Required
                  String
                url: "/privacy",
                  Required
                  String
                external: false
                  Required
                  Boolean
              }
        }
  ---
#}

{% macro Nav(
  currentNavigation
) %}
{% if not currentNavigation %}
  {#
    if we haven't been passed a navigation object, default to the global _data/navigation.json
  #}
  {% set currentNavigation = navigation %}
{% endif %}

{% if currentNavigation.items %}
  <nav class="nav">
    <ul>
      {% for item in currentNavigation.items %}
        {% set currentAttribute = '' %}

        {% if page.url == item.url %}
          {% set currentAttribute = ' aria-current="page"' %}
        {% endif %}

        <li class="nav__item {{'nav__item--current' if page.url == item.url}}">
          <a href="{{ item.url }}" {{ currentAttribute | safe }}>{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
{% endmacro %}
