{#
  Macro for building simple SVG icons.
  -
  references:
  role="img" : https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Role_Img
  fallbacks: https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-inline-svg-imgtag
  -
  paths should be array of objects with the the following shape:
  [
    {
      path: 'M31.939 6.092c-1...', // required
      fill: '#bedecc', // optional
      attr: 'stroke="black" stroke-linecap="round" stroke-dasharray="5,10,5"', // optional
    }
  ]
#}

{% macro svg(
  colour='#fff',
  name='',
  width=0,
  height=0,
  viewBox='0 0 0 0',
  paths=[],
  fallback='',
  role='img',
  label=''
) %}
{% set pad = (height/width * 100) %}
<div class="svg-wrap">
  <div
    class="svg-wrap__padder"
    style="padding-bottom:{{ pad }}%;"
  ></div>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="{{width}}"
    height="{{height}}"
    viewBox="{{viewBox}}"
    {% if role === 'img' %}
      role="img"
      aria-label="{{label or name}}"
    {% endif %}
  >
    {% for path in paths %}
      <path fill="{{ path.fill or colour }}" d="{{ path.path }}" {{ path.attr or '' }}></path>
    {% endfor %}

    {% if fallback !== '' %}
      <image src="{{ fallback }}" xlink:href="" />
    {% else %}
      {{label or name}}
    {% endif %}
  </svg>
</div>
{% endmacro %}
