{% from "components/SiteHeader.njk" import SiteHeader with context %}
{% from "components/SiteFooter.njk" import SiteFooter with context %}

<!DOCTYPE html>
<html class ='no-js' lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% include 'partials/social-meta.njk' %}

  {% include 'partials/scripts-styles.njk' %}

  <!--
    interested in how things work? Some of the weird bits are explained at
    https://github.com/sleepingKiwi/sleepingkiwi-eleventy#readme
  -->

  {#
    entry point for child templates to inject content into head if needed!
  #}
  {% block head %}
  {% endblock %}
</head>
<body>
  {#
    SiteHeader
      transparentHeader is set through the cms as part of the pageSettings config that is used
      on every page...
  #}
  <a class="skip-link visuallyhidden" href="#main-content">Skip to content</a>
  {{
    SiteHeader(transparentHeader | default(false))
  }}


  {#
    entry point for child templates to inject their main content!
  #}
  {% block content %}
  {% endblock %}


  {{
    SiteFooter()
  }}

  {#
    entry point for child templates to inject content into foot if needed!
  #}
  {% block foot %}
  {% endblock %}
</body>
</html>
