:root {
  /** primary colours
   *  ----------------------------------------------------------------------------------------------
  **/
  --colour-primary: #4e588e;
  --colour-secondary: #985171;
  --colour-highlight: #f6c450;
  --colour-subtle: #898fb1;

  /** inverted colours
   *  ----------------------------------------------------------------------------------------------
  **/
  --colour-invert: #fff4e8;
  --colour-invert-subtle: #f7e1c9;

  /** backgrounds
   *  ----------------------------------------------------------------------------------------------
  **/
  --colour-background-body: #ebeeef;
  --colour-background-subtle: #fafdfd;
  --colour-background-secondary: #f5ddc8;
  --colour-background-pop: #993434;
}
